/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /*rimuove l'elemento */

@media screen and (min-width: 992px) {
  body {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.8rem;
  }
}

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}
/*MediaQuery 576px HEADER*/
@media screen and (min-width: 576px) {
  header{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  header ul li {
    display: inline;
    margin-right: 10px;
  }
}

/*MediaQuery 992px HEADER*/
@media screen and (min-width: 992px) {
}

/*MediaQuery 1200px HEADER*/
@media screen and (min-width: 1200px) {
  header {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    height: 100px;
    padding: 0;
    text-align: left;
  }  
  header div {
    display: inline-block;
    width: 70%;
  }
  header div p {
    vertical-align: middle;
    display: inline;

  }
  header div img{
    vertical-align: middle;
    margin-top: 20px
;
  }
  header nav {
    display: inline-block;
    vertical-align: middle;
  }
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
.title{
  position: relative;
  
}
.title svg{
  position: absolute;             /* LEZIONE DAY 2*/
  bottom: -7px;
}
.htmlSymbol {
  display: none;
  float: left;
  margin-right: 10px;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

@media screen and (min-width: 576px) {
  .dateTimer{
    color: #969494;
  }
  .htmlSymbol {
    display: block;
    border: 4px solid #00a1c6;
    outline: 4px solid #A02572;
    width: 12%;
  }

  .htmlSymbol img {
    width: 95%;
    margin: 2px;
    vertical-align: middle;
  }
  section{
    position: relative;
  }
  .sectionTitle{
    position: absolute;
    background-color: #585858;
    top:-20px;
    left:30px;
  }
  .sectionTitle h2{
    position: absolute;
    background-color: #969494;
    font-size: 3rem;
    padding: 5px 40px;
    border-radius: 4px;
    box-shadow: 2px 2px #797879;
  }
  section p{
    margin-top: 50px;
  }
  section form{
    margin-bottom: 50px;
  }
  aside div{
    position: relative;
  }
  .tag{
    position: absolute;
    color: #cfceceb6;
    font-size: 6rem;
    right: 10px;
    top: 10px;
  }
  .goTop , .goCalendar , .goSocialPage{
    font-size: 3.5rem;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.678);
    border: 3px solid white;
    border-radius: 12px;
    position:fixed;
    right:-15px;
    
  }
  .goTop{
    bottom: 20px;
  }
  .goCalendar{
    bottom: 105px;
  }
  .goSocialPage{
    bottom: 190px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2.8em;
  }
  .logoContainer{
    margin-bottom: 2.4em;
  }
  .htmlSymbol {
    width: 9%;
  }
  .pList{
    margin-top: 1.2em;
  }
  article h2 {
    font-weight: 900;
    font-size: 1.7rem;
  }
  table {
    text-align: center;
    width: 70%;
    margin: 5em auto;
  }
  iframe {
    height: 200px;
  }
  section h2 {
    background-color: #4444447c;
    font-size: 2.2rem;
    text-transform: none;
  }
  input {
    padding: 6px;
    border-bottom: 2px dotted #585858;
    width: 60%;
    height: 4em;
    font-size: 0.7em;
  }
  button {
    padding: 1.4em 50px;
    font-size: 0.7em;
  }
  aside h2 {
    font-size: 4rem;
  }
  .tag{
    font-size: 8rem;
  }
  .goCalendar{
    bottom: 895px;
    z-index: 2;
  }
  .goSocialPage{
    bottom: 990px;
    z-index: 2;
  }
}


@media screen and (min-width: 1200px) {
    main{
        width: 85%;
        margin: 0 auto;
    }
  h1 {
    font-size: 3em;
  }
  .htmlSymbol {
    width: 6%;
  }
  article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  main ol li{
    line-height: 3.5rem;
  }
  iframe, main section{
    width: 50%;
    height: 250px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    margin-inline: -2px;
  }
  section h2 {
    padding:0.5rem;
    margin-bottom: 25px;
  }
  section p {
    margin-bottom: 25px;
    line-height: 2em;
  }
  section form{
    vertical-align: bottom;
  }
aside h2{
    font-size: 1.7em;
}
aside div{
    width: 33%;
    display: inline-block;
    margin-inline: -3px;

}
.tag{
  font-size: 5.5rem;
}
.goCalendar{
  bottom: 900px;
  z-index: 2;
}
.goSocialPage{
  bottom: 995px;
  z-index: 2;
}
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}

@media screen and (min-width: 992px) {
  footer {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
    footer {
      width: 85%;
      margin: 0 auto;
      margin-top: 1em;
      font-size: 1.7rem;
    }
  }


@media print{
    header,aside,iframe,section,footer{
        display: none;
    }
    .htmlSymbol {
        display: inline-block;
        border: 4px solid purple;
        width: 10%;
      }
      .htmlSecondLayer{
        display: inline-block;
        border: 4px solid #00a1c6;
      }
    
      .htmlSymbol img {
        max-width: 95%;
        margin: 2px;
        vertical-align: middle;
      }
}
